/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.placeholerCenter, .placeholerCenter::-webkit-input-placeholder {
   text-align: center;
  }

.rounded-img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 80px;
  height: 80px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 5px silver;
  box-shadow: 0 0 5px silver;
  overflow: hidden;

  display: block;
  margin: auto;

  img {
    // display: inline;
    // margin: 0 auto;
    height: 100%;
    width: auto;
  }
}

.user-info {
  * {
    text-align: center;
    display: block;
  }
  button {
    margin: auto;
  }
}

.buttons.buttons-left.header-item {
  width: 90%;
  .left-buttons {
    width: 100%
  }
}

.viewDiv, .viewDiv> .scroll, #viewDiv, #BasemapGallery {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.no-border {
  border: none!important;
}

.calm-background {
  background: $calm;
}

form.chooseLayers {
  label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
  }
  input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    padding-left: 50px;
  }
}


.login-logo-container  {
  overflow: hidden;
  width: 90%;
  margin-top: 70px;
  margin-left: 20px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.onmap-logo-container {
  //iPhone
  width: 40%;
  //iPad
  // width: 15%;
  position: absolute;
  bottom: 50px;
  right: 10px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.clear {
  clear: both;
}


.popup {
  width: 75%!important;
}

.upi-dropdown {
  min-width: 100px;
  max-width: 100px;
}

.home-btn {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
 
  position: absolute;
  top: 45%;
  left: 10px;
  // margin-left: -3px;

  .btn {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 1.6em;
    background-color: #fff;
    color: #646464;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;    
  }

  .circle {
    border-radius: 50%;
  }

  .raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  }


}
