ion-view
  ion-content(style='background: url(img/background.jpg) no-repeat center')

    .login-logo-container
      img(src='img/Jkptg-Logo.png')

    .user-info
      span www.jkptg.gov.my


    .list.list-inset
      label.item.item-input
        input.placeholerCenter(type='text', placeholder='E-mail', ng-model='data.email')
      label.item.item-input
        input.placeholerCenter(type='password', placeholder='Password', ng-model='data.pass')

      button.button.button-block.button-calm(ng-click='login()', ng-disabled='!data.email || !data.pass')
        | Login
