ion-view
  ion-content.viewDiv(scroll='false')
    #viewDiv

    .home-btn(ng-click='home()')
      .btn.circle.raised
        i.ion-ios-home
    //- div(style='position: absolute;bottom: 78px;right: 34px;border:1px red solid;background: white;-webkit-border-radius: 50%;max-width: 34px;max-height: 34px;overflow: hidden;')
    //-   span.ion-ios-plus-outline(style='font-size: 42pt;')

    .onmap-logo-container
      img(src='img/Jkptg-Logo.png')
