ion-side-menus(enable-menu-with-back-views='false')
  ion-side-menu-content(drag-content="false")
    ion-nav-bar.bar-calm
      ion-nav-back-button
      ion-nav-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(menu-toggle='left')
        //- .bar.bar-header.item-input-inset
        //-   label.item-input-wrapper.textbox-search
        //-     i.icon.ion-ios7-search.placeholder-icon
        //-     input(type='search', placeholder='Search')

    ion-nav-view(name='menuContent')
  ion-side-menu(side='left')
    ion-header-bar.bar-calm
    ion-content
      ion-list
        ion-item.calm-background.no-border(menu-close='')
          .rounded-img
            img(src='img/profile.png')
          .user-info
            span {{userInfo.name}}
            span {{userInfo.email}}
            button.button.button-icon.icon-left.ion-log-out(ng-click='logout()') logout
              


        ion-item.no-border
          | Layers
        ion-item.no-border(menu-close='', ng-click='chooseLayers()')
          span.ion-ios-flag &nbsp&nbsp&nbsp Choose Layers
        ion-item.no-border(menu-close='', ng-click='removeAllLayers()')
          span.ion-ios-flag-outline &nbsp&nbsp&nbsp Clear All
        
        ion-item
          | Basemap
        ion-item.no-border(menu-close='', ng-click='BasemapGallery()')
          span.ion-ios-flag-outline &nbsp&nbsp&nbsp Choose Basemap
        
        ion-item
          | Search
        ion-item.no-border(menu-close='', ng-click='searchByUpi()')
          span.ion-ios-flag-outline &nbsp&nbsp&nbsp By UPI
        ion-item.no-border(menu-close='', ng-click='searchByCoordinate()')
          span.ion-ios-flag-outline &nbsp&nbsp&nbsp By Coordinate 