ion-modal-view
  ion-header-bar
    h1.title Land Iinformation
  ion-content
    .list.card
      .item
        h2 UPI:
        p {{modalInfo.UPI}}
        br
        h2 NO JKPTG:
        p {{modalInfo.NO_JKPTG}}
        br
        h2 Negeri:
        p {{modalInfo.NAMA_NEGERI}}
        br
        h2 Daerah:
        p {{modalInfo.NAMA_DAERAH}}
        br
        h2 Mukim:
        p {{modalInfo.NAMA_MUKIM}}
        br
        h2 Guna Tanah:
        p {{modalInfo.GUNA_TANAH}}
        br
        h2 Kementerian:
        p {{modalInfo.KEMENTERIAN}}
        br
    br
    div.clear
    .bar.bar-footer
      button.button.button-block.button-calm(ng-click='close()') OK
