<ion-view><ion-content scroll="false" class="viewDiv"><div id="viewDiv"></div><div ng-click="home()" class="home-btn"><div class="btn circle raised"><i class="ion-ios-home"></i></div></div><div class="onmap-logo-container"><img src="img/Jkptg-Logo.png"/></div></ion-content></ion-view>